In [72]:
import os
if "ACCEPT_TC" not in os.environ:
    os.environ["ACCEPT_TC"] = "tôi đồng ý"

from vnstock3 import Vnstock
from datetime import datetime
import matplotlib.pyplot as plt

In [73]:
import pandas as pd
pd.options.mode.chained_assignment = None

In [134]:
MY_ID_MAPPING = {
    # "BTC": "c2111",
    # "ETH": "c2112",
    # "USDT": "c2115",
    # "USDC": "c211a", 
    # "BNB": "c2113",
    # "BUSD": "c211i",
    # "XRP": "c2117",
    # "ADA": "c2114",
    # "SOL": "c2116",
    # "DOGE": "c2119",
    
    "SPX": "a33k6h",
    "DJI": "a6qja2",
    "GOLD": "b1hb7w",
    "NDX":"a3yy77",
    "VNI": "aqk2nm",
    "JAPAN": "c1uvw7",
    "NYSE": "a74pqh",
    
    "USDEUR": "avyn9c",
    "USDVND": "avyufr",
    "JPYVND": "ave8sm",
    "AUDVND": "auxrkr",
    "EURVND": "av93ec",
    "GBPVND": "avyjtc",
}

In [135]:
configs = {
    "INDEX": ["SPX", "DJI", "GOLD", "NDX", "VNI", "JAPAN", "NYSE"],
    # "CRYPTO": ["BTC", "ETH", "USDT", "USDC", "BNB", "BUSD", "XRP", "ADA", "SOL", "DOGE"],
    "FOREX": ["USDEUR", "USDVND", "JPYVND", "AUDVND", "EURVND", "GBPVND"]
}

In [139]:
def is_stock_group(name):
    return name not in ["INDEX", "CRYPTO", "FOREX"]

In [140]:
for group_name, tickers in configs.items():
    print(group_name, is_stock_group(group_name))
    for ticker in tickers:
        print(ticker, MY_ID_MAPPING[ticker])

INDEX False
SPX a33k6h
DJI a6qja2
GOLD b1hb7w
NDX a3yy77
VNI aqk2nm
JAPAN c1uvw7
NYSE a74pqh
FOREX False
USDEUR avyn9c
USDVND avyufr
JPYVND ave8sm
AUDVND auxrkr
EURVND av93ec
GBPVND avyjtc

In [7]:
crypto = Vnstock().crypto(symbol='BTC', source='MSN')
df = crypto.quote.history(start='2023-01-01', end='2024-12-31', interval='1D')
df

,time,open,high,low,close,volume
151,2023-01-07,4.276969e+08,4.316476e+08,4.246473e+08,4.306309e+08,366150278971826
152,2023-02-06,5.927091e+08,5.950255e+08,5.802492e+08,5.831428e+08,496990962960149
153,2023-03-08,5.697467e+08,5.722640e+08,5.591521e+08,5.644488e+08,578310782337450
154,2023-04-07,7.157353e+08,7.158155e+08,7.046477e+08,7.124053e+08,351521871687252
155,2023-05-07,7.503756e+08,7.575207e+08,7.231972e+08,7.342642e+08,404259956147681
156,2023-06-06,6.890084e+08,6.891829e+08,6.463836e+08,6.543837e+08,546502173098531
157,2023-07-06,7.818720e+08,7.843768e+08,7.678212e+08,7.751514e+08,317070650767408
158,2023-08-05,7.411168e+08,7.443607e+08,7.337742e+08,7.385692e+08,305766765605510
159,2023-09-04,6.571622e+08,6.626919e+08,6.558301e+08,6.597049e+08,227675010457514
160,2023-10-04,6.987921e+08,7.028297e+08,6.913681e+08,6.968038e+08,289792703781945
161,2023-11-03,9.003224e+08,9.124718e+08,8.739032e+08,8.875362e+08,533416221499074
162,2023-12-03,9.828237e+08,1.007964e+09,9.818919e+08,1.002817e+09,394611106650111
163,2024-01-02,1.074045e+09,1.122189e+09,1.072387e+09,1.121983e+09,468100533393879
164,2024-02-01,1.090964e+09,1.110553e+09,1.074520e+09,1.081726e+09,626784192232643
165,2024-03-02,1.553852e+09,1.604329e+09,1.544567e+09,1.586179e+09,1020854317048198
166,2024-04-01,1.769263e+09,1.813210e+09,1.768681e+09,1.812089e+09,509354063694000
167,2024-05-01,1.621713e+09,1.643659e+09,1.501827e+09,1.540358e+09,961270859973305
168,2024-05-31,1.716635e+09,1.765522e+09,1.705001e+09,1.736676e+09,749635227495867

In [36]:
stock = Vnstock().stock(source='VCI')

2024-06-03 01:15:18,522 - vnstock3.common.vnstock - INFO - Mã chứng khoán không được chỉ định, chương trình mặc định sử dụng VN30F1M
2024-06-03 01:15:18,526 - vnstock3.common.data.data_explorer - WARNING - Thông tin niêm yết & giao dịch sẽ được truy xuất từ TCBS

In [60]:
from vnstock3 import Vnstock
fx = Vnstock().fx(source='MSN')
df = fx.quote.history(symbol='NDX', start='2024-02-28', end='2024-05-25', interval='1D')
df

KeyError: 'NDX'

          time   open   high    low  close   volume
0   2023-01-03  24.97  26.62  24.97  26.62  3787630
1   2023-01-04  26.62  26.96  26.43  26.48  3186578
2   2023-01-05  26.48  26.96  26.33  26.81  2717668
3   2023-01-06  26.62  27.54  26.48  26.86  4805646
4   2023-01-09  26.96  27.11  26.77  26.91  2388393
..         ...    ...    ...    ...    ...      ...
345 2024-05-28  46.50  46.95  46.30  46.90  6014900
346 2024-05-29  47.00  47.05  46.40  46.50  6948600
347 2024-05-30  46.05  46.80  45.85  46.80  7573700
348 2024-05-31  46.80  47.00  46.30  47.00  5677200
349 2024-06-03  47.50  47.70  47.10  47.50  6467500

[350 rows x 6 columns]

In [37]:
stock.listing.all_symbols()

     ticker                                         organ_name
0       A32                                 Công ty Cổ phần 32
1       AAA                  Công ty Cổ phần Nhựa An Phát Xanh
2       AAM                    Công ty Cổ Phần Thủy Sản MeKong
3       AAS            Công ty Cổ phần Chứng khoán SmartInvest
4       AAT        Công ty Cổ phần Tập đoàn Tiên Sơn Thanh Hóa
...     ...                                                ...
1593    XPH                    Công ty Cổ phần Xà phòng Hà Nội
1594    YBC      Công ty Cổ phần Xi măng và Khoáng sản Yên Bái
1595    YBM     Công ty Cổ phần Khoáng sản Công nghiệp Yên Bái
1596    YEG                     Công ty Cổ phần Tập đoàn Yeah1
1597    YTC  Công ty Cổ phần Xuất nhập khẩu Y tế Thành phố ...

[1598 rows x 2 columns]

In [40]:
from vnstock3.explorer.misc.gold_price import *

sjc_gold_price()

Cập nhật lúc: 09:01:34 AM 03/06/2024
Đơn vị tính: Đơn vị tính: VNĐ/lượng

                                                name   buy_price  sell_price
0                                   SJC 1L, 10L, 1KG  79,000,000  81,000,000
1                                             SJC 5c  79,000,000  81,020,000
2                                 SJC 2c, 1C, 5 phân  79,000,000  81,030,000
3          Vàng nhẫn SJC 99,99 | 1 chỉ, 2 chỉ, 5 chỉ  73,600,000  75,200,000
4  Vàng nhẫn SJC 99,99 | 0.3 chỉ,  0.5 chỉ73,600,...  73,600,000  75,300,000
5                                    Nữ Trang 99.99%  73,400,000  74,400,000
6                                       Nữ Trang 99%  71,663,000  73,663,000
7                                       Nữ Trang 68%  48,247,000  50,747,000
8                                     Nữ Trang 41.7%  28,678,000  31,178,000

In [85]:
from vnstock3.explorer.msn.listing import Listing
Listing(api_version='20240530').search_symbol_id('OIL')

,symbol,symbol_id,exchange_name,exchange_code_mic,short_name,friendly_name,eng_name,description,local_name,locale
0,OIL,ahj9cw,NSE,XNSE,Oil India,Oil India,Oil India Ltd,Oil India Limited is an India-based integrated...,Oil India Ltd,en-in
1,OIL,bnmrww,Bucharest,XBSE,Oil Terminal,Oil Terminal,Oil Terminal SA,Oil Terminal SA is a Romania-based company pri...,Oil Terminal SA,ro-ro
2,OIL,alxgqh,Bucharest,XBSE,Oil Terminal,Oil Terminal,Oil Terminal SA,Oil Terminal SA is a Romania-based company pri...,Oil Terminal SA,ro-ro
3,OIL,aa8dr7,Australia,XASX,Optiscan Imaging,Optiscan Imaging,Optiscan Imaging Ltd,Optiscan Imaging Limited is an Australia-based...,Optiscan Imaging Ltd,en-au
4,OIL,b115z2,Canada,XCNQ,Permex Petroleum,Permex Petroleum,Permex Petroleum Corp,Permex Petroleum Corporation is a junior oil a...,Permex Petroleum Corp,en-ca
5,OIL,bomeim,Paris,XPAR,AmundiSTOXXEuro600EnESGScrETFA,AmundiSTOXXEuro600EnESGScrETFA,Amundi STOXX Euro 600 Engy ESG Scrnd UCITS ETF...,,Amundi STOXX Euro 600 Engy ESG Scrnd UCITS ETF...,fr-fr
6,OIL,bomefr,Milan,XMIL,AmundiSTOXXEuro600EnESGScrETFA,AmundiSTOXXEuro600EnESGScrETFA,Amundi STOXX Euro 600 Engy ESG Scrnd UCITS ETF...,,Amundi STOXX Euro 600 Engy ESG Scrnd UCITS ETF...,it-it
7,OILUIV,bkj2m7,,INDX_DEFAULT,AccuShares S&P GSCI Crude Oil ER Up Shares,AccuShares S&P GSCI Crude Oil ER Up Shares,AccuShares S&P GSCI Crude Oil ER Up Shares,,AccuShares S&P GSCI Crude Oil ER Up Shares,en-us
8,OILDIV,bkj2jc,,INDX_DEFAULT,AccuShares S&P GSCI Crude Oil ER Down Shares,AccuShares S&P GSCI Crude Oil ER Down Shares,AccuShares S&P GSCI Crude Oil ER Down Shares,,AccuShares S&P GSCI Crude Oil ER Down Shares,en-us
9,OILKIV,c89xxm,,INDX_DEFAULT-CBOE,PROSHARES K-1 FREE CRUDE OIL STRATEGY ETF,PROSHARES K-1 FREE CRUDE OIL STRATEGY ETF,PROSHARES K-1 FREE CRUDE OIL STRATEGY ETF,,PROSHARES K-1 FREE CRUDE OIL STRATEGY ETF,en-us

In [130]:
# index = Vnstock().world_index(source='MSN')
# df = index.quote.history(start='2023-01-01', end='2024-12-31', interval='1D', symbol="GOLD")
# df
from vnstock3.explorer.msn.quote import *
fx = Quote(symbol_id='c2113')
btc = fx.history(start='2023-01-01', end='2024-12-31')
btc

,time,open,high,low,close,volume
66,2023-01-07,6514604.43,6610411.85,6479484.53,6601406.48,10615742572690
67,2023-02-06,8397172.49,8568952.66,8252913.94,8328863.83,16841408235746
68,2023-03-08,7315949.69,7372374.83,7223955.26,7350198.01,9479803252381
69,2023-04-07,7978674.84,7991560.25,7901901.38,7937284.20,13481530039088
70,2023-05-07,8305394.00,8350903.47,8143670.88,8199427.92,12556046312469
71,2023-06-06,7752164.92,7752164.92,6932211.97,7033818.89,23587084033949
72,2023-07-06,6160214.80,6194803.52,6023561.90,6073376.65,11571097199779
73,2023-08-05,6123211.52,6176879.17,6108209.78,6134214.83,9408597994842
74,2023-09-04,5447795.28,5464563.80,5421305.04,5446400.66,6720757845116
75,2023-10-04,5454910.66,5479965.64,5405011.55,5421912.17,7759032517019
76,2023-11-03,5792306.71,5927436.95,5789534.22,5886459.37,12387514094192
77,2023-12-03,5805566.06,5843561.07,5758595.91,5824928.22,15975220768376
78,2024-01-02,7935539.02,8020888.02,7826580.98,7986914.04,23131160351208
79,2024-02-01,7810721.38,7820694.60,7594496.12,7629818.99,20686138721560
80,2024-03-02,10152877.98,10378466.78,10147947.25,10359617.75,38795322367173
81,2024-04-01,15267333.62,15461896.67,15264136.86,15417299.17,37001830060311
82,2024-05-01,15059706.22,15326209.09,14128409.37,14695333.20,43893365922408
83,2024-05-31,15114086.42,15284096.00,14900325.25,15115465.29,44138341085295

In [127]:
len(btc)

18

In [123]:
btc

,time,open,high,low,close,volume
151,2023-01-07,4.276969e+08,4.316476e+08,4.246473e+08,4.306309e+08,366150278971826
152,2023-02-06,5.927091e+08,5.950255e+08,5.802492e+08,5.831428e+08,496990962960149
153,2023-03-08,5.697467e+08,5.722640e+08,5.591521e+08,5.644488e+08,578310782337450
154,2023-04-07,7.157353e+08,7.158155e+08,7.046477e+08,7.124053e+08,351521871687252
155,2023-05-07,7.503756e+08,7.575207e+08,7.231972e+08,7.342642e+08,404259956147681
156,2023-06-06,6.890084e+08,6.891829e+08,6.463836e+08,6.543837e+08,546502173098531
157,2023-07-06,7.818720e+08,7.843768e+08,7.678212e+08,7.751514e+08,317070650767408
158,2023-08-05,7.411168e+08,7.443607e+08,7.337742e+08,7.385692e+08,305766765605510
159,2023-09-04,6.571622e+08,6.626919e+08,6.558301e+08,6.597049e+08,227675010457514
160,2023-10-04,6.987921e+08,7.028297e+08,6.913681e+08,6.968038e+08,289792703781945
161,2023-11-03,9.003224e+08,9.124718e+08,8.739032e+08,8.875362e+08,533416221499074
162,2023-12-03,9.828237e+08,1.007964e+09,9.818919e+08,1.002817e+09,394611106650111
163,2024-01-02,1.074045e+09,1.122189e+09,1.072387e+09,1.121983e+09,468100533393879
164,2024-02-01,1.090964e+09,1.110553e+09,1.074520e+09,1.081726e+09,626784192232643
165,2024-03-02,1.553852e+09,1.604329e+09,1.544567e+09,1.586179e+09,1020854317048198
166,2024-04-01,1.769263e+09,1.813210e+09,1.768681e+09,1.812089e+09,509354063694000
167,2024-05-01,1.621713e+09,1.643659e+09,1.501827e+09,1.540358e+09,961270859973305
168,2024-05-31,1.716635e+09,1.765522e+09,1.705001e+09,1.736676e+09,749635227495867

In [124]:
len(btc)

18

In [103]:
stock.quote.history(symbol="TCB", start="2023-01-01", end='2024-12-31')

          time   open   high    low  close   volume
0   2023-01-03  24.97  26.62  24.97  26.62  3787630
1   2023-01-04  26.62  26.96  26.43  26.48  3186578
2   2023-01-05  26.48  26.96  26.33  26.81  2717668
3   2023-01-06  26.62  27.54  26.48  26.86  4805646
4   2023-01-09  26.96  27.11  26.77  26.91  2388393
..         ...    ...    ...    ...    ...      ...
345 2024-05-28  46.50  46.95  46.30  46.90  6014900
346 2024-05-29  47.00  47.05  46.40  46.50  6948600
347 2024-05-30  46.05  46.80  45.85  46.80  7573700
348 2024-05-31  46.80  47.00  46.30  47.00  5677200
349 2024-06-03  47.50  47.70  47.10  47.50  6467500

[350 rows x 6 columns]

In [132]:
def get_data(is_stock, symbol, origin_date, end_date, start_date="2023-01-01"):
    try:
        if is_stock:
            df = stock.quote.history(symbol=symbol, start=start_date, end=end_date)
        else:
            symbol_id = MY_ID_MAPPING[symbol]
            quote = Quote(symbol_id=symbol_id)
            df = quote.history(start=start_date, end=end_date, interval='1D')
        origin_close = float(df[df["time"] == origin_date]["close"].iloc[0])
        scale = origin_close / 100
        data = df[["time", "close"]]
        data["close"] = data["close"].div(scale)
        return data[data["time"] >= origin_date]
    except Exception as e:
        print("Error {}: {} {} {}".format(e, symbol, origin_date, end_date))
        return None

In [138]:
get_data(False, "SPX", "2024-02-01", "2024-06-03")

          time       close
271 2024-02-01  100.000000
272 2024-02-02  101.068446
273 2024-02-05  100.746404
274 2024-02-06  100.979171
275 2024-02-07  101.811385
..         ...         ...
350 2024-05-24  108.123004
351 2024-05-28  108.149909
352 2024-05-29  107.353160
353 2024-05-30  106.711725
354 2024-05-31  107.568398

[84 rows x 2 columns]

In [109]:
get_data(True, "TCB", "2024-03-01", "2024-12-31")

          time       close
287 2024-03-01  100.000000
288 2024-03-04  100.000000
289 2024-03-05  100.837645
290 2024-03-06  102.143385
291 2024-03-07  101.773836
..         ...         ...
345 2024-05-28  115.545701
346 2024-05-29  114.560237
347 2024-05-30  115.299335
348 2024-05-31  115.792067
349 2024-06-03  117.023898

[63 rows x 2 columns]

c2111
df           time          open          high           low         close  \
151 2023-01-07  4.276969e+08  4.316476e+08  4.246473e+08  4.306309e+08
152 2023-02-06  5.927091e+08  5.950255e+08  5.802492e+08  5.831428e+08
153 2023-03-08  5.697467e+08  5.722640e+08  5.591521e+08  5.644488e+08
154 2023-04-07  7.157353e+08  7.158155e+08  7.046477e+08  7.124053e+08
155 2023-05-07  7.503756e+08  7.575207e+08  7.231972e+08  7.342642e+08
156 2023-06-06  6.890084e+08  6.891829e+08  6.463836e+08  6.543837e+08
157 2023-07-06  7.818720e+08  7.843768e+08  7.678212e+08  7.751514e+08
158 2023-08-05  7.411168e+08  7.443607e+08  7.337742e+08  7.385692e+08
159 2023-09-04  6.571622e+08  6.626919e+08  6.558301e+08  6.597049e+08
160 2023-10-04  6.987921e+08  7.028297e+08  6.913681e+08  6.968038e+08
161 2023-11-03  9.003224e+08  9.124718e+08  8.739032e+08  8.875362e+08
162 2023-12-03  9.828237e+08  1.007964e+09  9.818919e+08  1.002817e+09
163 2024-01-02  1.074045e+09  1.122189e+09  1.072387e+09  1.121983e+09
164 2024-02-01  1.090964e+09  1.110553e+09  1.074520e+09  1.081726e+09
165 2024-03-02  1.553852e+09  1.604329e+09  1.544567e+09  1.586179e+09
166 2024-04-01  1.769263e+09  1.813210e+09  1.768681e+09  1.812089e+09
167 2024-05-01  1.621713e+09  1.643659e+09  1.501827e+09  1.540358e+09
168 2024-05-31  1.716635e+09  1.765522e+09  1.705001e+09  1.736676e+09

               volume
151   366150278971826
152   496990962960149
153   578310782337450
154   351521871687252
155   404259956147681
156   546502173098531
157   317070650767408
158   305766765605510
159   227675010457514
160   289792703781945
161   533416221499074
162   394611106650111
163   468100533393879
164   626784192232643
165  1020854317048198
166   509354063694000
167   961270859973305
168   749635227495867
Error single positional indexer is out-of-bounds: BTC 2024-03-01 2024-12-31

In [ ]:
configs = {
    "NGAN_HANG": ["VNINDEX", "VCB", "BID", "CTG", "TCB", "VPB", "MBB", "ACB", "HDB", "VIB", "LPB", "STB"],
    "BAN_LE": ["VNINDEX", "MWG", "FRT", "DGW", "PET", "AST", "DHT"],
    "BAT_DONG_SAN": [
        "VHM",
        "VIC",
        "BCM",
        "VRE",
        "NVL",
        "KDH",
        "SSH",
        "KBC",
        "NLG",
        "TCH",
        "NTL",
    ],
    "TAI_CHINH": [
        "SSI",
        "VND",
        "VCI",
        "HCM",
        "SHS",
        "MBS",
        "VIX",
        "FTS",
        "BSI",
        "EVF",
        "CTS",
        "DSC",
        "BVS",
    ],
    "HANG_CA_NHAN": [
        "PNJ",
        "VGT",
        "TCM",
        "TLG",
        "MSH",
        "RAL",
    ],
    "THUC_PHAM": [
        "VNM",
        "MCH",
        "MSN",
        "SAB",
        "VSF",
        "KDC",
        "QNS",
        "VHC",
        "HAG",
        "BHN",
        "HNG",
        "ANV",
    ],
    "TAI_NGUYEN": [
        "HPG",
        "MSR",
        "HSG",
        "ACG",
        "NKG",
        "KSV",
        "VIF",
        "PTB",
        "TVN",
        "PRT",
    ],
    "XAY_DUNG": [
        "VGC",
        "HUT",
        "CTR",
        "VCG",
        "VCS",
        "BMP",
        "PC1",
        "CTD",
        "SCG",
        "HHV",
        "CII",
    ],
    "DIEN_NUOC_XANG": [
        "GAS",
        "PGV",
        "VSH",
        "POW",
        "BWE",
        "HND",
        "QTP",
        "NT2",
    ],
    "DAU_KHI": [
        "BSR",
        "PLX",
        "PVS",
        "PVD",
        "OIL",
    ],
    "DICH_VU_CONG_NGHIEP": [
        "ACV",
        "VEA",
        "GMD",
        "REE",
        "MVN",
        "GEX",
        "GEE",
        "PVT",
        "VTP",
    ],
    "CONG_NGHE": [
        "FPT",
        "CMG",
        "SAM",
    ],
    "BAO_HIEM": [
        "BVH",
        "PVI",
        "VNR",
        "BIC",
        "MIG",
        "BMI",
        "ABI",
    ],
    "HOA_CHAT": [
        "GVR",
        "DGC",
        "DCM",
        "DPM",
        "PHR",
        "AAA",
    ],
    "OTO_PHU_TUNG":[
        "DRC",
        "HHS",
        "CTF",
        "SVC",
        "CSM",
        "HAX",
    ],
    "DU_LICH": [
        "VJC",
        "SCS",
        "TSJ",
    ],
    "VIEN_THONG": [
        "VGI",
        "FOX",
        "VEF",
        "VNZ"
    ],
    "Y_TE":[
        "DHG",
    "IMP",
    "DVN",
    "DBD",
    ]
}

In [ ]:
def get_data(symbol, origin_date, end_date):
    try:
        df = stock.quote.history(symbol=symbol, start="2023-01-01", end=end_date)
        origin_close = float(df[df["time"] == origin_date]["close"].iloc[0])
        scale = origin_close / 100
        
        data = df[["time", "close"]]
        data["close"] = data["close"].div(scale)
        return data[data["time"] >= origin_date]
    except:
        print("Error: {} {} {}".format(symbol, origin_date, end_date))
        return None

In [ ]:
plt.get_cmap('hsv', 5)

In [ ]:
colors[0:4]

In [ ]:
list(range(10))

In [ ]:
def get_cmap(n, name='hsv'):
    '''Returns a function that maps each index in 0, 1, ..., n-1 to a distinct 
    RGB color; the keyword argument name must be a standard mpl colormap name.'''
    return plt.get_cmap(name, n)

def get_colors(n):
    colors = ["#e2d454", "#26c6da", "#fbc02d", "#673ab7", "#4caf50", "#00bfa5", "#ff5252", "#f48fb1", "#82b1ff", "#00e5ff", "#0048ff", "#1eff00", "#ff6600", "#3a6630", "#305666"]
    if n <= len(colors):
        return colors[0:n]
    
    outputs = list(colors)
    m = n - len(outputs)
    cmap = get_cmap(m)
    for i in range(m):
        outputs.append(cmap(i))
    return outputs

In [ ]:
plt.style.use('dark_background')

list_origin_dates = ["2024-02-01", "2024-03-01", "2024-04-01", "2024-05-02"]
end_date = datetime.now().strftime("%Y-%m-%d")
for (group, tickers) in configs.items():
    ticker_colors = get_colors(len(tickers))
    for idx, origin_date in enumerate(list_origin_dates):
        # file_name = "images/{}_{}.jpg".format(group, idx)
        # if os.path.exists(file_name):
        #     print("Skip {}".format(file_name))
        #     continue
        fig, ax = plt.subplots(figsize=(15, 10))
        ax.set_title("{}_{} - {} to {}".format(group, idx, origin_date, end_date), fontsize=20, weight='bold')
        for ticker_idx, ticker in enumerate(tickers):
            data_ticker = get_data(ticker, origin_date, end_date)
            color = ticker_colors[ticker_idx]
            if data_ticker is None:
                continue
            last_value = data_ticker["close"].iloc[-1]
            label = '{} {:.2f}'.format(ticker, last_value)
            
            data_ticker.plot(ax=ax, x='time', y='close', label=label, color=color)
            ax.annotate(label, xy=(1, last_value), xytext=(10, 0), 
                     xycoords=('axes fraction', 'data'), textcoords='offset points', 
                    color=color, fontsize=15, weight='bold')
        
        # plt.savefig(file_name)
        # print("Saved {}".format(file_name))
        plt.show()
        # plt.close()
        break
    break

In [ ]:
for k in configs.keys():
    print("# {}".format(k))
    for i in range(4):
        n = "{}_{}".format(k, i)
        print("![\"{}\"]({}.jpg)".format(n, n))